.contact {
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;

    .contact-left {
        // width: 60%;
        padding: 0;

        .contact-form {
            position: relative;
            top: 10px;

            h1 {
                position: relative;
                color: rgb(92, 91, 91);
        
                &::after {
                    content: '';
                    display: block;
                    width: 20%;
                    height: 7px;
                    background-color: $project-green-color;
                    margin-top: 5px;
                    margin-bottom: 15px;
                }
            }

            label {
                display: block;
            }
            
            input, textarea {
                border: 1px solid $project-green-color;
                margin: 5px 0;
                color: #e5e5e5;
            }

            input {
                height: 50px;
                width: 650px;
            }

            textarea {
                resize: none;
                width: 646px;
            }
        }
    }
    
    .contact-right {
        // width: 40%;

        .contact-picture {
            width: 250px;
            height: 250px;
            background: url(../images/chair3.png);
            background-repeat: no-repeat;
        }
    }
}