.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    .menu {
        @media #{$phone} {
            padding-top: 5px;
            margin-left: -40px;
        }
    }

    span {
        color: $project-green-color;
    }

    ul {
        li {
            display: inline-block;
            margin-right: 15px;
            cursor: pointer;
            
            &:hover {
                color: $project-green-color;
            }
        }
    }



    @media #{$phone} {
        display: block;
    }
}

// body .fixed-nav menu {
//     position: fixed;
//     box-shadow:0 5px 0 rgba(0,0,0,0.1);
//   }

