$project-green-color: #24BA9F;
$phone: "only screen and (max-width: 480px)";
$tablet: "only screen and (max-width: 768px)";
$desktop: "only screen and (min-width: 769px)";

* {
    margin: 0 auto;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.white-background {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.gray-background {
    background-color: #F1F1F1;
    padding: 0;
    margin: 0;
}

.top-background {
    padding: 0;
    margin: 0;
    background: linear-gradient(
        to bottom, 
        #fff, 
        #DBDBDB, 
        #F2F2F2,
        #ADA996);
}

@import "header";
@import "slider";
@import "promotions";
@import "offers";
@import "contact";


