$project-green-color: #24BA9F;
$phone: "only screen and (max-width: 480px)";
$tablet: "only screen and (max-width: 768px)";
$desktop: "only screen and (mix-width: 769px)";

* {
    margin: 0 auto;
    font-family: 'Raleway', 'Arial', sans-serif;
}

.white-background {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.gray-background {
    background-color: #F1F1F1;
    padding: 0;
    margin: 0;
}
          
// .offer-container {
//     width: 1220px;
// }

@import "header";
@import "slider";
@import "promotions";
@import "offers";
@import "contact";


