.price-offer {

    @media #{only screen and (min-width: 1400px)} {

    height: 800px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;

    h3 {
        position: relative;
        top: 20px;

        &::after {
            content: '';
            display: block;
            width: 360%;
            height: 7px;
            background-color: $project-green-color;
            margin-top: 5px;
        }
    }

    .box-price {
        min-width: 350px;
        height: 600px;
        border: 2px solid #C2C2C2;
        background-color: white;
        position: relative;
        top: 150px;
        bottom: 30px;

        &::before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border: 2px solid #C2C2C2;
            border-radius: 50%;
            right: 150px;
            top: -35px;
            z-index: 1;
            background-color: white;
        }
        
        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 25px;
            border: 2px solid #C2C2C2;
            border-radius: 50%;
            background-color: #C2C2C2;
            right: 162.5px;
            top: -23px;
            z-index: 2;
        }

        &:hover {
            border: 2px solid $project-green-color;
            background-color: $project-green-color;

            &::before {
                background-color: $project-green-color;
                border: 2px solid $project-green-color
            }

            &::after {
                background-color: white;
                border: 2px solid white;
            }

            h1 {
                color: white;
            }

            .price-circle {
                border: $project-green-color;
            }

            .offer-button {
                background-color: white;
                color: $project-green-color;
            }
        }

        h1 {
            color: $project-green-color;
            text-align: center;
            margin: 50px;
        }

        .price-circle {
            width: 150px;
            height: 150px;
            border: 3px solid #C2C2C2;
            border-radius: 50%;
            background-color: white;
            margin-bottom: 50px;

            & > p, span {
                text-align: center;
                padding-top: 35%;
            }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            background-color: #e5e5e5;

            li {
                padding: 10px;
            }

            li:nth-child(even) {
                background-color: #F1F1F1;
            }

            li:last-child {
                display: none;
            }
        }

        .offer-button {
            position: absolute;
            bottom: 10px;
            left: 60px;
        }
    }}

    @media #{only screen and (max-width: 1399px)} {
        height: 800px;
        display: flex;
        flex-wrap: wrap;
        padding-left: 10%;
        padding-right: 10%;

        h3 {
            position: relative;
            top: 20px;
    
            &::after {
                content: '';
                display: block;
                width: 360%;
                height: 7px;
                background-color: $project-green-color;
                margin-top: 5px;
            }
        }
    
        .box-price {
            min-width: 550px;
            height: 100px;
            border: 2px solid #C2C2C2;
            background-color: white;
            position: relative;
            top: 150px;
            bottom: 30px;
    
            &::before {
                content: '';
                position: absolute;
                width: 50px;
                height: 50px;
                border: 2px solid #C2C2C2;
                border-radius: 50%;
                left: -30px;
                top: 19px;
                z-index: 1;
                background-color: white;
            }
            
            &::after {
                content: '';
                position: absolute;
                width: 25px;
                height: 25px;
                border: 2px solid #C2C2C2;
                border-radius: 50%;
                background-color: #C2C2C2;
                left: -18px;
                top: 31px;
                z-index: 2;
            }
    
            &:hover {
                border: 2px solid $project-green-color;
                background-color: $project-green-color;
    
                &::before {
                    background-color: $project-green-color;
                    border: 2px solid $project-green-color
                }
    
                &::after {
                    background-color: white;
                    border: 2px solid white;
                }
    
                h1 {
                    color: white;
                }
    
                .price-circle {
                    border: $project-green-color;

                    & > p, span {
                        color: white;
                    }
                }
    
                .offer-button {
                    background-color: white;
                    color: $project-green-color;
                }
            }
    
            h1 {
                position: absolute;
                color: $project-green-color;
                text-align: center;
                top: 0;
                left: 40px;
            }
    
            .price-circle {
                position: relative;
                left: 40px;
                top: 55px;
    
                & > p, span {
                    font-weight: bold;
                    color: $project-green-color;
                    // text-align: center;
                }
            }
    
            ul {
                position: relative;
                left: 40px;
                margin: 0;
                padding: 0;
                list-style-type: none;
    
                li {
                    display: none;
                }

                li:last-child {
                    display: inline-block;
                }
    
            }
    
            .offer-button {
                position: absolute;
                width: 170px;
                padding: 0;
                bottom: 35px;
                right: 20px;
        }}
    }

}
