.promotion-offer {
    display: flex;
    flex-wrap: wrap;
    height: 320px;
    position: relative;
    margin-left: 35px;
    margin-right: 35px;

    .box-offer {
        flex-basis: 10%;
        flex-grow: 1;
        border: 10px solid #fff;
        margin-top: 10px;
        min-width: 200px;
        max-width: 400px;
    }


    .first-offer {
        background: url(../images/box1_img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
        opacity: 0.7;
        margin-left: 150px;

        h4 {
            display: none;
            // transition: opacity 5s
        }

        &:hover {
            opacity: 1;
            .banner {
                display: block;
                h4 {
                display: inline-block;
            }} 
        }
}

    .second-offer {
        background: url(../images/box2_img.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 220px;
        opacity: 0.7;
        
        h4 {
            display: none;
        }

        &:hover {
            opacity: 1;
            .banner {
                display: block;
                h4 {
                display: inline-block;
            }} 
        }
    }

    .banner {
        position: relative;
        width: 100%;
        height: 50px;
        background-color: #fff;
        opacity: 0.8;
        top: 150px;
        display: none;

        &::after {
            content: '';
            display: block;
            background-color: $project-green-color;
            width: 40%;
            height: 5px;
            margin-left: 15px;
        }
    }

    .offer-description {
        background-color: white;
        height: 245px;
        margin-right: 150px;
        border: 3px solid #DADADA;
        margin-top: 20px;

        h4 {
            margin-top: 60px;
            &::after {
            content: '';
            display: block;
            background-color: $project-green-color;
            width: 35%;
            height: 5px;
            }
        }
    }

    h4 {
        margin-left: 15px;
        margin-top: 12px;
    }
}
