.slider {
    box-sizing: border-box;
    height: 500px;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;

    @media #{$tablet} {
        height: 350px;
    }

    @media #{$phone} {
        height: 300px;
        margin-top: 20px;
    }

    .slider-content {
        display: flex;
        position: relative;
        top: 70px;

        @media #{only screen and (min-width: 769px)} {
            left: -50px;
        }

        // @media #{only screen and (min-width: 941px)} {
        //     left: 0;
        // }

        @media #{$tablet} {
            top: 20px;
            display: block;
            left: 0;
        }
    }

    .slider-arrows {
        position: absolute;
        color: $project-green-color;
        font-size: 100px;
        top: 35%;
        cursor: pointer;
        z-index: 1;
    }
    
    .left-arrow {
        left: 10px;

        &:hover {
            transform: scale(1.2, 1.2)
        }
    }
    
    .right-arrow {
        right: 10px;

        &:hover {
            transform: scale(1.2, 1.2)
        }
    }

    .picture-part {
        button {
            display: none;

            @media #{$tablet} {
                display: block;
            }
        }
    }
    
    .product-picture {
        width: 460px;
        height: 400px;

        @media #{$tablet} {
            width: 350px;
            height: 230px;
        }

        @media #{$phone} {
            width: 250px;
            height: 180px;
        }
    }
    
    .prod-pict-one {
        background: url(../images/chair1.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .prod-pict-two {
        background: url(../images/chair2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .prod-pict-three {
        background: url(../images/chair4.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    
    .text-part {
        position: relative;
        right: 20px;
        text-align: center;

        
        @media #{only screen and (max-width: 940px)} {
            top: 100px;
        }

        @media #{$tablet} {
            display: none;
        }

        &>h2 {
            text-transform: uppercase;
            
            span {
                color: $project-green-color
            }
        }

        p {
            padding: 40px;

            @media #{only screen and (max-width: 940px)} {
                display: none;
            }
        }
    }
}


button {
    cursor: pointer;
    text-transform: uppercase;
    color: white;
    background-color: $project-green-color;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px 55px;
    opacity: 0.7;

    &:hover {
        opacity: 1;
    }
}

